body
{
	color: white;
	background-color: #A5BFC5;
}


.tlo1
{
	background-color: #A5BFC5;
}

.tlo2
{
	background-color: #7BA6B4;
}

.tlo3
{
	background-color: #2F4A57;
}

.navbar-nav > li a:hover
{
	color: white;
}

.minHeight
{
	min-height: 200px;
}